/*text*/


h2.me {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

h2.metest {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

/*grid sizes*/
.about {
  grid-column: 1/13;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
}

.about1 {
  grid-column: 1/13;
  width: 100%;
}

/*images*/
img {
  width: 100%;
}

img.sara {
  margin-bottom: 10px;
}



/* Media Queries */
@media screen and (min-width: 1025px) {
  /*grid sizes*/
  .about {
    grid-column: 1/7;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .about1 {
    grid-column: 7/13;
    margin-top: 50px;
  }


  h2.me {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  img.sara {
    margin-bottom: 35px;
  }


}
