/*text*/
p.email {
  margin-top: -20px;
}

h2 {
margin-top: 20px;
}

/*grid sizes*/
.about {
  grid-column: 1/4;
  width: 100%;
}

.about1 {
  grid-column: 1/4;
  width: 100%;
}

/*images*/
img {
  width: 100%;
}

img.sara {
  padding-top: 20px;
}
