/* text styles */
h2 {
    margin-top: 20px;
}

  h5.test {
    grid-column: 1/5;
    padding-bottom: 50px;
  }

  .h5 {
    grid-column: 1/5;
      padding-bottom: 25px;
  }

p.label {
  font-size: 12px;
  font-family: "Franklin Gothic Book", sans-serif;
  text-transform: capitalize;
  margin-bottom: -25px;
}



/*sections*/
section.intro {
  grid-column: 1/13;
  width: 100%;
}

.roles {
  padding-top: 50px;
  grid-column: 1/13;
}

.WID {
  grid-column: 1/13;
  text-align: center;
}

.WID2   {
  grid-column: 1/13;
  text-align: center;
}

.WID3 {
  grid-column: 1/13;
  text-align: center;
}

.problem {
  grid-column: 1/13;
}

.solution {
  grid-column:1/13;
}

.chart1 {
  grid-column: 1/13;
  position: relative;
}

.chart2 {
  grid-column: 1/13;
  position: relative;
}

.chart3 {
  grid-column: 1/13;
  position: relative;
}

.googledrive {
  background-color: #faf3e1;
  grid-column: 1/13;
  margin-bottom: 25px;
  padding: 30px;

}

.dropbox {
  background-color: #faf3e1;
  grid-column: 1/13;
  margin-bottom: 25px;
  padding: 30px;

}

.icloud {
  background-color: #faf3e1;
  grid-column: 1/13;
  padding: 30px;

}

.jessica {
  grid-column: 1/7;
  text-align: center;
  padding-top: 20px;
}

.ryan {
  grid-column: 7/13;
  text-align: center;
  padding-top: 20px;

}

.traits {
  padding-top: 20px;
  grid-column: 1/7;
  text-align: center;

}

.traits1 {
  padding-top: 20px;
  grid-column: 7/13;
  text-align: center;

}

.branding {
  grid-column: 1/13;
}

/* section main*/
.main {
  padding-top: 20px;
  grid-column: 1/13;
  width: 100%;
}

/*images*/

img.beespace {
  grid-column: 1/13;
  width: 100%;
}

img.gdl {
  grid-column: 1/13;
  width: 100%;
}

img.dp {
  grid-column: 3/5;
  width: 100%;
}

img.ic {
  grid-column: 3/4;
  width: 100%;
}

img.woman {
  grid-column: 1/7;
  width:100%;
}

img.man {
  grid-column: 7/13;
  width: 100%;
}

img.beelogo {
  grid-column: 1/13;
  padding-top: 50px;
  width: 75%;
}

img.sketching {
  grid-column: 1/13;
  width: 100%;
}

img.flows {
  grid-column: 1/13;
  width: 100%;
}

img.pt1, .pt3, .pt5 {
  grid-column: 1/7;
  padding-bottom: 10px;
  width: 100%;
}

img.pt2, .pt4, .pt6 {
  grid-column: 7/13;
  padding-bottom: 10px;
  width: 100%;
}

.hifipic {
  grid-column: 1/13;
  width: 100%;
}

.color {
  grid-column: 1/13;
  padding-bottom: 20px;
}

p.color-box1 {
  grid-column: 1/5;
  padding: 40px;
  text-align: center;
}

p.color-box2 {
  grid-column: 5/9;
  padding: 40px;
  text-align: center;
}

p.color-box3 {
  grid-column: 9/13;
  padding: 40px;
  text-align: center;
}

/* Media Queries FOR TABLETS */
@media screen and (min-width: 768px) {

  /*sections*/
  section.intro {
    grid-column: 1/10;
    width: 100%;
  }

  .roles {
    grid-column: 1/13;
  }

  .WID {
    grid-column: 1/4;
    text-align: center;
  }

  .WID2   {
    grid-column: 5/8;
    text-align: center;
  }

  .WID3 {
    grid-column: 9/13;
    text-align: center;
  }

  .problem {
    grid-column: 1/7;
  }

  .solution {
    grid-column:7/13;
  }

  .chart1 {
    grid-column: 1/7;
  }

  .chart2 {
    grid-column: 7/13;

  }

  .chart3 {
    grid-column: 4/10;
  }

  .googledrive {
    grid-column: 1/5;
  }

  .dropbox {
    grid-column: 5/9;

  }

  .icloud {
    grid-column: 9/13;

  }

  .jessica {
    grid-column: 1/6;

  }

  .ryan {
    grid-column: 6/13;


  }

  .traits {
    grid-column: 1/6;

  }

  .traits1 {
    grid-column: 6/13;

  }

  /* section main*/
  .main {
    grid-column: 1/10;
  }

  /*images*/

  img.beespace {
    grid-column: 1/13;
  }

  img.gdl {
    grid-column: 1/4;
    width: 100%;
  }

  img.dp {
    grid-column: 3/5;
  }

  img.ic {
    grid-column: 3/4;
  }

  img.woman {
    grid-column: 1/7;
  }

  img.man {
    grid-column: 7/13;
    width: 100%;
  }

  img.beelogo {
    display: none;
  }

  img.sketching {
    grid-column: 1/13;
  }

  img.flows {
    grid-column: 1/13;
  }

  img.pt1, .pt3, .pt5 {
    grid-column: 1/7;
  }

  img.pt2, .pt4, .pt6 {
    grid-column: 7/13;
  }

  .hifipic {
    grid-column: 1/13;
  }

  .color {
    grid-column: 1/5;
    padding-bottom: 20px;
  }

  p.color-box1 {
    grid-column: 1/5;
  }

  p.color-box2 {
    grid-column: 5/9;
  }

  p.color-box3 {
    grid-column: 9/13;
  }

}

@media screen and (min-width: 1025px) {
  .chart1 {
    grid-column: 1/5;
  }

  .chart2 {
    grid-column: 5/9;

  }

  .chart3 {
    grid-column: 9/13;
  }

  .main {
    grid-column: 1/9;
  }


}
