*, *:before, *:after {
  box-sizing: border-box;
}


/* text styles */
body {
  background-color: #FDFAF3;
  font-family: "Lato", sans-serif;
  margin: auto;
}

h1 {
  color: #EBD341;
  font-family: "Abril Fatface", serif;
  font-size: 150px;
  margin-top: 50px;
  }

  h2 {
    font-family: "Abril Fatface", serif;
    font-size: 40px;
    margin-bottom: -5px;
  }

  h3  {
    font-family: "Abril Fatface", serif;
    font-size: 30px;
    margin-bottom: -5px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-top: -5px;
    margin-bottom: -10px;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: -25px;
  }

.label {
  font-size: 15px;
  font-family: "Franklin Gothic Book", sans-serif;
  margin-bottom: -25px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

p.intro {
  width: 1000px;
}

p.section {
  width: 800px;
}

/** Nav Bar **/
nav {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    height: 200px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  width: 120px;
  margin-left: -20px;
}

ul.right {
  list-style-type: none;
}

li {
  float: left;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 50px;
}

/* links */
a {
  text-decoration: none;
}

a:link { color:#000000; } /* unvisited */
a:visited { color:#000000; } /* visited */
a:hover { color:#C35E2C; } /* mouse over */
a:active { color:#000000; } /* selected */

/* Container */
.container {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
}

/*Images*/

img {
  width: 100%;
}

img.beespace {
  width: 75%;
  margin-left: 12.5%;
  padding-bottom: 20px;
}

img.storage {
  margin-bottom: 30px;
}

img.persona {
  width: 85%;
padding-left: 25%;
padding-top:25px;

}

img.beelogo {
  float: right;
  width: 65%;
  margin-top: 5%;
  padding-right: 100px;
}


/* Button styles */
.button {
    background-color: #C35E2C;
    border: none;
    color: white;
    font-family: Franklin Gothic Book;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    width: 175px;
    line-height: 1;
    margin-right: 10px;
    margin-bottom: 10px;

  }

a.button {
  color: white;
}

/** What I did section **/

.WID {
    float: left;
    width: 33.33%;
    text-align: center;
}

/* Clear floats after the columns */
.tools:after {
    content: "";
    display: block;
    clear: both;
}

.left {
  float: left;
  width: 50%;
  padding-right: 30px;
}

/* Problems and Solutions */

.prosol:after {
  content: "";
  display: block;
  clear: both;
}

.prosol {
  float: left;
  padding-bottom: 30px;
}

/* Competitive analysis */

.service {
    background-color: #faf3e1;
    float: left;
    height: 1175px;
    margin-right: 2%;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: left;
    width: 32%;

}

.serviceR {
    background-color: #faf3e1;
    float: right;
    height: 1175px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: left;
    width: 32%;

}

.swot {
  float: left;
}


/* section margin */
section {
  margin-top: 50px;
}

/* User personas */

.goalsfrust {
    float: left;
    width: 20%;
    margin-right: 5%;
}

/* Clear floats after the columns */
.columncount:after {
    content: "";
    display: block;
    clear: both;
}

img.pt {
  width: 49%;
  padding: 20px 11px;
  margin-left: -10px;
}

/* ChartJS grid */

.one-third {
  width: 33.3%;
  float: left;
}


/* Branding grid */
.beelogo {
    float: left;
    width: 45%;
    margin-right: 5%;
}

/* Clear floats after the columns */
.beebranding:after {
    content: "";
    display: block;
    clear: both;
}

/* Color box styles for branding*/
p.color-box {
  box-sizing: border-box;
  color: black;
  font-weight: 400;
  float: left;
  margin-right: 1%;
  margin-top: 30px;
  padding: 58px 0 ;
  text-align: center;
  width: 24.25%;
}

p.color-boxR {
  box-sizing: border-box;
  color: black;
  font-weight: 400;
  float: left;
  margin-top: 30px;
  padding: 58px 0 ;
  text-align: center;
  width: 24.25%;
}

/*Footer */

#footer {
  border-top: 1px solid hsl(0, 0%, 50%);
  height: 150px;
  margin-top: 50px;
  padding-top: 25px;
}

ul.contact {
  list-style-type: none;
  margin: auto;
  width: 600px;
}

li.contact {
  font-size: 20px;
}

.icon {
  width: 40px;
}
