/* text styles */
body {
  background-color: #FDFAF3;
  font-family: "Lato", sans-serif;
  margin: auto;
}

.container {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
}

h1 {
  color: #EBD341;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 150px;
  margin-top: 50px;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: -5px;
  }

  h3  {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: -5px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-top: -5px;
    margin-bottom: -10px;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: -25px;
  }

.label {
  font-size: 15px;
  font-family: "Franklin Gothic Book", sans-serif;
  margin-bottom: -25px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

/** Nav Bar **/
nav {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    height: 150px;
    margin: auto;
    padding-top: 50px;
    width: 100%;

}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  margin-left: -20px;
  width: 120px;
}

ul.right {
  list-style-type: none;
}

li {
  float: left;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 50px;
}

/* links */
a {
  text-decoration: none;
}

a:link { color:#000000; } /* unvisited */
a:visited { color:#000000; } /* visited */
a:hover { color:#C35E2C; } /* mouse over */
a:active { color:#000000; } /* selected */

/* wrapper */
.wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
}

section.intro {
  grid-column: 1/6;
}

.roles {
  padding-top: 50px;
  grid-column: 1/7;
}

img.beespace {
  padding-left: 12.5%;
  width: 75%;
}

.WID {
  grid-column: 1/3;
  text-align: center;
}

.WID2   {
  grid-column: 3/5;
  text-align: center;
}

.WID3 {
  grid-column: 5/7;
  text-align: center;
}

.problem {
  grid-column: 1/4;
}

.solution {
  grid-column:4/7;
}



.chart1 {
  grid-column: 1/3;
}

.chart2 {
  grid-column: 3/5;
}

.chart3 {
  grid-column: 5/7;
}


.googledrive {
  grid-column: 1/3;
  background-color: #faf3e1;
  padding: 30px;

}

img.gdl {
  grid-column: 1/3;
  width: 100%;
}

.dropbox {
  grid-column: 3/5;
  background-color: #faf3e1;
  padding: 30px;

}

img.dp {
  grid-column: 3/5;
  width: 100%;
}

.icloud {
  grid-column: 5/7;
  background-color: #faf3e1;
  padding: 30px;

}

img.ic {
  grid-column: 5/7;
  width: 100%;
}

img.woman {
  grid-column: 2/4;
  width:100%;
}

img.man {
  grid-column: 4/6;
  width: 100%;
}

.jessica {
  grid-column: 2/4;
  text-align: center;
  padding-top: 20px;
}

.ryan {
  grid-column: 4/6;
  text-align: center;
  padding-top: 20px;

}

.traits {
  padding-top: 20px;
  grid-column: 2/4;
  text-align: center;

}

.traits1 {
  padding-top: 20px;
  grid-column: 4/6;
  text-align: center;

}

.branding {
  grid-column: 1/4;
}

img.beelogo {
  grid-column: 4/6;
  width: 75%;
  padding-top: 50px;
}

.color {
  grid-column: 1/7;
  padding-bottom: 20px;
}

p.color-box1 {
  grid-column: 1/3;
  text-align: center;
  padding: 40px;

}

p.color-box2 {
  grid-column: 3/5;
  text-align: center;
  padding: 40px;


}

p.color-box3 {
  grid-column: 5/7;
  text-align: center;
  padding: 40px;
}

h5.test {
  grid-column: 1/7;
  padding-bottom: 50px;
}

.h5 {
    grid-column: 1/7;
    padding-bottom: 25px;
}

img.sketching {
  grid-column: 1/7;
  width: 100%;
}

p.label {
  font-size: 15px;
  font-family: "Franklin Gothic Book", sans-serif;
  text-transform: capitalize;
  margin-bottom: -25px;
}



img.flows {
  grid-column: 1/7;
  width: 100%;
}



.hifipic {
  grid-column: 1/7;
  width: 100%;
}



.main {
  padding-top: 40px;
  grid-column: 1/4;
}

img.pt1, .pt3, .pt5 {
  grid-column: 1/4;
  width: 100%;
  padding-bottom: 25px;
}

img.pt2, .pt4, .pt6 {
  grid-column: 4/7;
  width: 100%;
  padding-bottom: 10px;
}

/* Button styles */
.button {
    background-color: #C35E2C;
    border: none;
    color: white;
    display: inline-block;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    line-height: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 150px;

  }

a.button {
  color: white;
}

#footer {
  border-top: 1px solid hsl(0, 0%, 50%);
  height: 150px;
  margin-top: 50px;
  padding-top: 25px;
  padding-left: 31%;

}

ul.contact {
  list-style-type: none;
  margin: auto;
}

li.contact {
  font-size: 20px;
}

.icon {
  width: 40px;
}
