*, *:before, *:after {
  box-sizing: border-box;
}


/* text styles */
body {
  background-color: #FDFAF3;
  font-family: Lato;
  margin: auto;
}

p {
  font-size: 20px;
  line-height: 30px;
}

p.intro {
  width: 1000px;
}

p.section {
  width: 800px;
}

nav {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    height: 200px;
    width: 86.1%;
    margin: auto;
    padding-top: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  width: 120px;
  margin-left: -20px;
}

ul.right {
  list-style-type: none;
}

li {
  float: left;
  font-size: 20px;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link { color:#000000; } /* unvisited */
a:visited { color:#000000; } /* visited */
a:hover { color:#C35E2C; } /* mouse over */
a:active { color:#000000; } /* selected */


.container {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
}

img {
  width: 100%;
}

img.beespace {
  width: 75%;
  margin-left: 12.5%;
  padding-bottom: 20px;
}

h1 {
  color: #EBD341;
  font-family: Abril Fatface;
  font-size: 150px;
  margin-top: 50px;
  }

  h2 {
    font-family: Abril Fatface;
    font-size: 40px;
    margin-bottom: -5px;
  }

  h3  {
    font-family: Abril Fatface;
    font-size: 30px;
    margin-bottom: -5px;
  }

  h4 {
    font-family: Lato;
    font-size: 25px;
    font-weight: 900;
    margin-top: -5px;
    margin-bottom: -10px;
  }

  h5 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: -25px;
  }

.label {
  font-size: 15px;
  font-family: Franklin Gothic Book;
  margin-bottom: -25px;
}

.button {
    background-color: #C35E2C;
    border: none;
    color: white;
    font-family: Franklin Gothic Book;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    width: 175px;
    line-height: 1;
    margin-right: 10px;
    margin-bottom: 10px;

  }

a.button {
  color: white;
}

.WID {
    float: left;
    width: 33.33%;
    text-align: center;
}

/* Clear floats after the columns */
.tools:after {
    content: "";
    display: table;
    clear: both;
}

.left {
  float: left;
  width: 50%;
  padding-right: 30px;
}

.prosol:after {
  content: "";
  display: table;
  clear: both;
}

.service {
    float: left;
    width: 31.5%;
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
    background-color: #faf3e1;

}

/* Clear floats after the columns */
.competitive:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
  height: 150px;
  padding-top: 50px;
  margin: auto;
}

ul.contact {
  list-style-type: none;
  margin: auto;
  width: 600px;
}

li.contact {
  font-size: 20px;
}

.icon {
  width: 40px;
}

section {
  margin-top: 50px;
}

hr {
   border-width: 1.5px;
   margin-top: 50px;
}

img.storage {
  margin-bottom: 30px;
}

img.persona {
  width: 85%;
padding-left: 25%;
padding-top:25px;

}

.goalsfrust {
    float: left;
    width: 20%;
    margin-right: 5%;
}

/* Clear floats after the columns */
.columncount:after {
    content: "";
    display: table;
    clear: both;
}

img.pt {
  width: 49%;
  padding: 20px 11px;
  margin-left: -10px;
}

p.color-box {
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 30px;
  padding: 58px 0;
  font-weight: 400;
  color: black;
  text-align: center;
  float: left;
  width: 24.3%;
}

img.beelogo {
  float: right;
  width: 65%;
  margin-top: 5%;
  padding-right: 100px;
}
