/*div intro*/

div.intro {
  grid-column: 1/5;
  width: 100%;
}

div.images {
  grid-column: 1/5;
  width: 100%;
}

/*images*/

img.redeye1 {
  grid-column: 1/5;
  padding-bottom: 25px;
  width: 100%;
}

img.redeye2 {
  grid-column: 1/5;
  padding-bottom: 25px;
  width: 100%;
}

img.redeye3 {
  grid-column: 1/5;
  padding-bottom: 25px;
  width: 100%;
}

img.DT {
  grid-column: 1/5;
  padding-bottom: 25px;
  width: 100%;

}

img.DT1 {
  grid-column: 1/5;
  padding-bottom: 25px;
  width: 100%;
}

img.DT2  {
  grid-column: 1/5;
  padding-bottom: 25px;
  width: 100%;

}
