*, *:before, *:after {
  box-sizing: border-box;
}

/* text styles */
body {
  background-color: #FDFAF3;
  font-family: "Lato", sans-serif;
  margin: auto;
}

p {
  font-size: 20px;
  line-height: 30px;
  width: 750px;
}

h2 {
  font-family: "Abril Fatface", serif;
  font-size: 40px;
  margin-top: -15px;
  margin-bottom: -5px;
}

.label {
  font-size: 15px;
  font-family: "Franklin Gothic Book", san-sans-serif;
  padding-top: 30px;
}

/** Nav bar **/
nav {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    height: 200px;
    margin: auto;
    padding-top: 50px;
    width: 100%;

}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  margin-left: -20px;
  width: 120px;
}

ul.right {
  list-style-type: none;
}

li {
  float: left;
  font-size: 20px;
  padding: 30px;
}

/* Link styles */
a {
  text-decoration: none;
}

a:link { color:#000000; } /* unvisited */
a:visited { color:#000000; } /* visited */
a:hover { color:#C35E2C; } /* mouse over */
a:active { color:#000000; } /* selected */

/* Container */
.container {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
}

/** Footer style **/
#footer {
  border-top: 1px solid hsl(0, 0%, 50%);
  height: 150px;
  margin-top: 50px;
  padding-top: 25px;
}

ul.contact {
  list-style-type: none;
  margin: auto;
  width: 600px;
}

li.contact {
  font-size: 20px;
}

/** Image sizes **/



.left {
  float: left;
}

.right {
  float: right;
}

img.editorial {
  width: 32%;
  margin-right: 1.5%;
  margin-bottom: 1%;
}

img.editorialR {
  width: 32%;
  float: right;
  margin-bottom: 1%;
}

img.editorial_wide {
  width: 100%;
  margin-bottom: 1%;
}

img.editorial_half {
  width: 48.75%;
  float: left;
  margin-right: 1.5%;
  margin-bottom: 1%;
}

img.editorial_halfR {
  width: 48.75%;
  float: right;
  margin-bottom: 1%;

}

.row {
  padding-bottom: 20px;
}
.icon {
  width: 40px;
}
