/*div intro*/

.project {
  padding-top: 32px;
  margin-top: 32px;
  border-style: solid;
  border-top: 1px solid var(--border-primary);

}

.container {
  display: block;
}

.bottom {
  margin-top: 16px;
}

a {
  cursor: pointer;
    text-decoration: none;
    text-decoration-color: var(--accent-color);

  }

  a:link { color: var(--text-primary); } /* unvisited */
  a:visited { color: var(--text-primary); } /* visited */
  a:hover { color: var(--text-primary); } /* mouse over */
  a:active { color: var(--text-primary); } /* selected */


}



.bottom a:link { color: var(--toc-link); } /* unvisited */
.bottom a:visited { color: var(--toc-link); } /* visited */
.bottom a:hover { color: var(--toc-link); } /* mouse over */
.bottom a:active { color: var(--toc-link); } /* selected */


div.intro {
  /* margin-top: 25px; */
  margin-bottom: 32px;
  grid-column: 1/13;
  width: 100%;
}

button:disabled, {
        border: 1px solid black;
        background-color: grey;
        color: white;
        padding: 15px;
        margin-bottom: 16px;
        cursor: not-allowed;
    }

    ul.toc {
      list-style-type: square;
      list-style-position: inside;
    }

    .toc a:link { color: var(--toc-link); } /* unvisited */
    .toc a:visited { color: var(--toc-link); } /* visited */
    .toc a:hover { color: var(--toc-link);
      text-decoration: underline;} /* mouse over */
    .toc a:active { color: var(--accent-color); } /* selected */

    li.toc {
      line-height: 150%;
    }



img.main {
  width: 100%;
  margin-bottom: 16px;
}


@media screen and (min-width: 768px) {



}

/* Media Queries */
@media screen and (min-width: 1025px) {



}

@media screen and (min-width: 1440px) {



  }
