/*div intro*/

.leftrail, .rightrail {
  grid-column: 1/13;
  padding-bottom: 32px;
  padding-top: 32px;

}

a {
  cursor: pointer;
    text-decoration: none;
    text-decoration-color: #085976;

  }

  a:link { color:#4A4A4A; } /* unvisited */
  a:visited { color:#4A4A4A; } /* visited */
  a:hover { color:#4A4A4A; } /* mouse over */
  a:active { color:#4A4A4A; } /* selected */


}

div.bottom {
  margin-top: 16px;
}

.bottom a:link { color:#085976; } /* unvisited */
.bottom a:visited { color:#085976; } /* visited */
.bottom a:hover { color:#085976; } /* mouse over */
.bottom a:active { color:#085976; } /* selected */


div.intro {
  /* margin-top: 25px; */
  margin-bottom: 32px;
  grid-column: 1/13;
  width: 100%;
  display: grid;
}

button:disabled, {
        border: 1px solid black;
        background-color: grey;
        color: white;
        padding: 15px;
        margin-bottom: 16px;
        cursor: not-allowed;
    }

    ul.toc {
      list-style-type: square;
      list-style-position: inside;
    }

    .toc a:link { color:#085976; } /* unvisited */
    .toc a:visited { color:#085976; } /* visited */
    .toc a:hover { color:#085976;
      text-decoration: underline;} /* mouse over */
    .toc a:active { color:#085976; } /* selected */

    li.toc {
      line-height: 150%;
    }



img.main {
  width: 100%;
  margin-bottom: 16px;
}


@media screen and (min-width: 768px) {



}

/* Media Queries */
@media screen and (min-width: 1025px) {

  /* .leftrail {
    grid-column: 1/7;
    margin-bottom: 32px;

  }

  .rightrail {
    grid-column:7/13;
    margin-bottom: 32px;


  } */

}

@media screen and (min-width: 1440px) {

  /* .leftrail {
    grid-column: 1/7;
    margin-bottom: 32px;
  }

  .rightrail {
    grid-column:7/13;
    margin-bottom: 32px; */


  }

  }
