/*div intro*/

.leftrail, .rightrail {
  grid-column: 1/13;
  padding-bottom: 32px;
  padding-top: 32px;

}

a {
  cursor: pointer;

}

div.bottom {
  padding-top: 16px;
}
div.intro {
  /* margin-top: 25px; */
  margin-bottom: 32px;
  grid-column: 1/13;
  width: 100%;
  display: grid;
}

button:disabled, {
        border: 1px solid black;
        background-color: grey;
        color: white;
        padding: 15px;
        margin-bottom: 16px;
        cursor: not-allowed;
    }

    ul.toc {
      list-style-type: square;
      list-style-position: inside;
    }

    li {
      line-height: 150%;
    }



img.main {
  width: 100%;
  margin-bottom: 16px;
}


@media screen and (min-width: 768px) {



}

/* Media Queries */
@media screen and (min-width: 1025px) {

  /* .leftrail {
    grid-column: 1/7;
    margin-bottom: 32px;

  }

  .rightrail {
    grid-column:7/13;
    margin-bottom: 32px;


  } */

}

@media screen and (min-width: 1440px) {

  /* .leftrail {
    grid-column: 1/7;
    margin-bottom: 32px;
  }

  .rightrail {
    grid-column:7/13;
    margin-bottom: 32px; */


  }

  }
