/* body {
  background-color: #231F3D;
} */

.socialmedia {
  text-align: center;
  margin-top: 10px;

}


/*intro*/
p.intro {
  font-size: 32px;
  line-height: 40px;
    font-weight: 200;
  width: auto;
  color: #4a4a4a;
}


a {
  text-decoration: none;
}

a:link { color:#4A4A4A; } /* unvisited */
a:visited { color:#4A4A4A; } /* visited */
a:hover { color:#4A4A4A; } /* mouse over */
a:active { color:#4A4A4A; } /* selected */

/*section information */
section.hello {
  grid-column: 1/13;
  /* margin-top: 11vh; */
}

/* STYLES FOR TYPING HELLO */
section.hello h1 {
  color: #4597b5;
  font-family: "Playfair Display", serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
  typing 3.5s steps(30, end),
  blink-caret .5s step-end 2;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4597b5 }
}

/* Media Queries */
@media screen and (min-width: 768px) {

  p.intro {
    font-size: 40px;
    line-height: 50px;
    font-weight: 200;

  }



}

@media screen and (min-width: 1025px) {
  p.intro {
    font-size: 50px;
    line-height: 60px;
      font-weight: 200;
  }


}
