/*intro*/
p.intro {
  font-size: 22px;
  line-height: 32px;
  width: auto;
}


p.introdesktop {
  display: none;
}

/*section information */
section.hello {
  grid-column: 1/13;
  height: calc(100vh - 140px);
}

section.work {
  grid-column: 1/13;
  margin-top: 15px;
}

section.editorial {
  grid-column: 1/13;
}

section.beespace {
  grid-column: 1/13;
}

/*down arrow*/
.arrow {
  margin: auto;
text-align: center;

}
/*down arrow*/
i.fa-chevron-circle-down {
  margin-left: -20px;
  bottom: 50px;
  font-size: 2em;
  position: absolute;
  }


/* images */

img.newspapers {
  grid-column: 1/13;
  margin-top: 75px;
  width: 100%;
}

.bee {
  grid-column: 1/13;
}

img.bee_1 {
  grid-column: 1/13;
  margin-top: 25px;
  width: 100%;
}

img.bee1 {
  display: none;
  grid-column: 3/4;
  margin-top: 50px;
  width: 100%;

}

.linkphoto {
  grid-column: 1/13;
}

/* STYLES FOR TYPING HELLO */
.greeting h1 {
  color: #EBD341;
  font-family: "Playfair Display", serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 2;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #EBD341 }
}

/* Media Queries */
@media screen and (min-width: 768px) {

  p.intro {
    display: none;
  }

  p.introdesktop {
    display:block;
    font-size: 25px;
    line-height: 35px;
    width: auto;
    }

    .linkphoto {
      grid-column: 1/9;
    }

    .bee {
      grid-column: 1/9;
    }

    img.bee_1 {
      grid-column: 1/9;
      padding-top: 25px;
      width: 100%;
    }

    .bee_2 {
      grid-column: 9/13;
    }

    img.bee1 {
      display: grid;
      grid-column: 9/13;
      margin-top: -25px;
      width: 100%;
    }

      /*down arrow*/
    i.fa-chevron-circle-down {
      font-size: 3em;
      }


    section.work {
      grid-column: 1/10;
    }

    section.beespace {
      grid-column: 1/10;
    }

    section.editorial {
      grid-column: 1/10;
    }

    img.newspapers {
      grid-column: 1/13;
      margin-top: 50px;
      margin-bottom: 25px;
      width: 100%;
    }

}

@media screen and (min-width: 1025px) {
  p.introdesktop {
    font-size: 35px;
    line-height: 45px;
    width: auto;
    }

  section.work {
    grid-column: 1/9;
  }

  section.beespace {
    grid-column: 1/9;
  }

  /*down arrow*/
i.fa-chevron-circle-down {
  font-size: 3em;
  }

}
