/* text styles */
body {
  background-color: #FDFAF3;
  font-family: 'Lato', sans-serif;
  margin: auto;
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 26px;
}

h1 {
  color: #EBD341;
  font-family: 'Playfair Display', serif;
  font-size: 85px;
  font-weight: 900;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    padding-bottom: 10px;
  }

  h3  {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    padding: 5px;
    margin-left: -5px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 900;
  }

  p.label {
    font-size: 12px;
    font-family: "Franklin Gothic Book", sans-serif;
    text-transform: capitalize;
  }

  /** Nav Bar **/
  nav {
      border-bottom: 1px solid hsl(0, 0%, 50%);
      height: 50px;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 25px;
      width: 100%;

  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .logo {
    width: 50px;
  }

  ul.right {
    list-style-type: none;
  }

  li {
    float: left;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;

  }
  /* container and wrapper*/

  /* Container */
  .container {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12px;
    margin: auto;
  }

  /* wrapper */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }

  /* link styles */
  a {
    text-decoration: none;
  }

  a:link { color:#000000; } /* unvisited */
  a:visited { color:#000000; } /* visited */
  a:hover { color:#C35E2C; } /* mouse over */
  a:active { color:#000000; } /* selected */


  /*down arrow*/
  .fa-chevron-circle-down {
    font-size: 1em;
    padding-top: 50px;
    text-align: center;
  }

  /* button style */

  .button {
      background-color: #C35E2C;
      border: none;
      color: white;
      display: inline-block;
      font-family: "Franklin Gothic Book", sans-serif;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;
      margin-top: 10px;
      margin-right: 10px;
      padding: 20px;
      text-transform: uppercase;
      text-align: center;
      min-width: 100px;

  }

  a.button {
    color: white;
  }


  /* footer style with icons */

  #footer {
    border-top: 1px solid hsl(0, 0%, 50%);
    height: 75px;
    margin-top: 25px;
    padding-top: 25px;
    width: 100%;

  }

  .socialmedia {
    font-size: 30px;
    padding-top: 10px;
    /* margin: auto; */
    text-align: center;

  }

  .fa-envelope-square, .fa-facebook-square, .fa-github-square, .fa-linkedin {
    padding-right: 25px;
  }


/* Media Queries */
@media screen and (min-width: 768px) {

.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

h1 {
  font-size: 95px;
}

h3 {
  font-size: 25px;
}

.wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;

}

nav {
  height: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  margin-bottom: 25px;

}

.logo {
  width: 75px;
}

li {
font-size: 18px;
padding-top: 35px;
}

}

@media screen and (min-width: 1025px) {

.container {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 50px;
}

h1 {
  font-size: 110px;
  margin-top: 10px;
  margin-bottom: 60px;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  margin-top: -10px;
}

h3  {
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 30px;
}


.wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;

}

p.label {
  font-size: 15px;
}

nav {
  height: 100px;
}


.logo {
  width: 100px;
}

li {
font-size: 20px;
padding-top: 35px;
padding-right: 10px;
}

.fa-chevron-circle-down {
  font-size: 1.5em;
}

}
