/* text styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FDFAF3;
  font-family: 'Lato', sans-serif;
  margin: auto;
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 26px;
}

h1 {
  color: #EBD341;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  font-size: 85px;
  font-weight: 900;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  h3  {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 900;
  }

  h5.footer {
    color: #C35E2C;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
  }

  h6 {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
    /* text-align: center; */
  }

  p.label {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
  }

  /** Nav Bar **/
  nav {
      border-bottom: 1px solid hsl(0, 0%, 50%);
      height: 50px;
      margin-top: 40px;
      padding-bottom: 25px;
      margin-bottom: 25px;
      width: 100%;

  }

  .left {
    float: left;
  }

  ul.right {
    float: right;
  }

  .logo {
    width: 50px;
  }

  ul.right {
    list-style-type: none;
  }

  li.navbar  {
    float: left;
    font-size: 15px;
    padding-top: 19px;
    padding-left: 30px;

  }

  /* Container */
  .container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 12px;
    margin: auto;
  }

  /* grid */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }


  /* link styles */
  a {
    text-decoration: none;
  }

  a:link { color:#000000; } /* unvisited */
  a:visited { color:#000000; } /* visited */
  a:hover { color:#C35E2C; } /* mouse over */
  a:active { color:#000000; } /* selected */


  /* button style */

  .button {
      background-color: #C35E2C;
      border: 1px solid #C35E2C;
      border-radius: 25px;
      color: white;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 1;
      margin-top: 25px;
      margin-right: 5px;
      padding: 20px;
      text-transform: uppercase;
      text-align: center;
      min-width: 100px;

  }

  a.button {
    color: white;
  }

  a.button:hover {
    background-color: #FDFAF3;
    border: 1px solid #C35E2C;
    color: black;

  }


  /* footer style with icons */

  #footer {
    border-top: 1px solid hsl(0, 0%, 50%);
    height: 100px;
    margin-top: 50px;
    padding-top: 25px;
    width: 100%;

  }

  .socialmedia {
    font-size: 30px;
    padding-top: 10px;
    /* margin: auto; */
    text-align: center;

  }

  .fa-envelope-square, .fa-facebook-square, .fa-github-square, .fa-linkedin {
    padding-right: 25px;
  }


/* Media Queries */
@media screen and (min-width: 768px) {

.container {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 25px;
}

h1 {
  font-size: 100px;
  margin-top: 30px;

}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.grid {
  grid-column-gap: 30px;

}

nav {
  height: 75px;
  margin-top: 50px;
  padding-bottom: 25px;
  margin-bottom: 25px;

}

.logo {
  width: 75px;
}

li.navbar {
font-size: 18px;
padding-top: 28.5px;
padding-left: 40px;

}

.button {
    margin-right: 10px;

}

@media screen and (min-width: 1025px) {

.container {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
}

h1 {
  font-size: 115px;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  margin-top: -10px;
}

h3  {
  font-size: 30px;
  margin-bottom: 15px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
}


p.label {
  font-size: 15px;
  margin-bottom: 10px;
}

nav {
  height: 100px;
}


.logo {
  width: 100px;
}

li.navbar {
font-size: 20px;
padding-top: 40px;
padding-left: 50px;
padding-right: 10px;
}

}
