/* text styles */

:root {
  --text-primary: #333333;
  --text-invert: #FFFFFF;
  --text-secondary: #888888;
  --accent-color: #2C5153;
  --toc-link: #4A4A4A;
  --surface: #FAF8F4;
  --border-primary: #E2E2E2;
  --surface-invert: #2C5153;
  --button-stroke: #4a4a4a;
  --button-hover: #4a4a4a;
  --white: white;
  --button-disabled: gray;
  --display: "Playfair Display", serif;
  --utility: "Work Sans", sans-serif;

}


  * {
    box-sizing: border-box
}

body {
  font-family: var(--utility);
  width: 100%;
  background-color: var(--surface);
  color: var(--text-primary);
}




p {
  font-size: 18px;
  line-height: 130%;
  font-weight: 300;
}

p.label {
  font-size: 14px;
  line-height: 120%;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 600;
  font-family: var(--utility);
text-transform: uppercase;
}

p.caption {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 24px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-family: var(--display);
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;

  }


  h2 {
    font-family: var(--display);
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h3  {
    font-family: var(--display);
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
  }

  h4 {
    font-family: var(--utility);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-top: 16px;
  }

  h5 {
    font-family: var(--utility);
    font-size: 12px;
    font-weight: 300;
  }


  h6 {
    font-family: var(--utility);
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  /** Nav Bar **/
  nav {
      height: 50px;
      margin-top: 32px;
      margin-bottom: 32px;
      width: 100%;
  }

  .left {
    float: left;

  }

  ul.right {
    float: right;
  list-style-type: none;
  padding-top: 14.5px;
}

  .logo {
    width: 50px;

  }


  li.navbar  {
    color: var(--text-primary);
    float: left;
    font-size: 18px;
    text-decoration: none;
    padding-left: 30px;

  }

  li.navbar-1  {
    float: left;
    font-size: 18px;
    text-decoration: none;
    padding-left: 30px;

  }

  /* Container */
  .container {
      padding-bottom: 12px;
    margin-left: 16px;
    margin-right: 16px;



  }

  a:link { color: var(--text-primary); } /* unvisited */
  a:visited { color: var(--text-primary); } /* visited */
  a:hover { color: var(--text-primary); } /* mouse over */
  a:active { color: var(--text-primary); } /* selected */



  /* grid */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 16px;
    margin; auto;

  }


  /* link styles */
  a {
    font-weight: 300;
    text-decoration: none;
  }

.navbar-1 a:link {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;

}
      /* visited */
  a:hover { color: var(--text-primary);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;

    } /* mouse over */
  a:active { color: var(--accent-color);    } /* selected */


  .fa-angle-left {
    padding-right: 8px;
  }
  /* button style */


  .button {
      border: 1.5px solid var(--button-stroke);
      color: var(--text-primary);
      display: inline-block;
      font-family: "Work Sans", sans-serif;
      font-weight: 300;
      border-radius: 16px;
      font-size: 14px;
      line-height: 1;
      margin-top: 8px;
      padding: 16px;
      width: 100%;
     text-decoration: none;
      text-align: center;
  }

  a.button {
    color: var(--text-primary);
  }



  a.button:hover {
    background-color: var(--button-hover);
    border: 1.5px solid var(--button-hover);
    color: var(--white);
    text-decoration: none;

  }

  .disabled {
    border: 1.5px solid var(--button-disabled);
    color: var(--button-disabled);
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    border-radius: 16px;
    font-size: 14px;
    line-height: 1;
    margin-top: 16px;
    /* margin-bottom: 16px; */
    padding: 16px;
    width: 100%;
    text-decoration: none;
    text-align: center;
cursor: not-allowed;
  }


  .socialmedia {
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
  }

  footer.index {
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
  }

  footer.main {
    margin-top: 40px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px var(--border-primary);
    border-style: solid;
    text-align: center;

  }

  p.copyright {
    margin-top: 16px;
    font-size: 12px;
    font-family: var(--utility);
  }

  .fa-envelope, .fa-facebook-square, .fa-github-square, .fa-linkedin-in {
    padding-right: 20px;
    text-align: center;
  }



/* Media Queries */
@media screen and (min-width: 768px) {

.container {
  /* padding-left: 75px;
  padding-right: 75px; */
  /* width: 80%;
  margin: auto; */
  margin-left: 32px;
  margin-right: 32px;
  /* display: grid; */
}



h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

.grid {
  grid-column-gap: 32px;

}

nav {
  height: 75px;
  margin-top: 32px;
  /* padding-bottom: 25px; */
  margin-bottom: 32px;

}

.logo {
  width: 75px;
}

img.logo {
  fill: var(--accent-color);
}

li.navbar {
font-size: 18px;
/* padding-top: 28.5px; */
padding-left: 40px;

}

li.navbar-1 {
font-size: 18px;
/* padding-top: 28.5px; */
padding-left: 40px;

}

ul.right {
padding-top: 27px;
}


.button {
  width: auto;
    /* margin-right: 10px; */
    /* min-width: 150px; */
}

.disabled {
  border: 1.5px solid var(--button-disabled);
  color: gray;
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1;
  margin-top: 16px;
  /* margin-bottom: 16px; */
  padding: 16px;
  width: auto;
  text-decoration: none;
  text-align: center;
cursor: not-allowed;
}

@media screen and (min-width: 1025px) {

.container {
  /* padding-left: 110px;
  padding-right: 110px; */
  width: 900px;
  margin: auto;
  /* padding-bottom: 50px; */
}

h1 {
    font-size: 48px;

  }


p {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;

  margin-bottom: 10px;
}


nav {
  height: 100px;
}


.logo {
  width: 100px;

}

li.navbar,  {
font-size: 20px;
/* padding-top: 40px; */
padding-left: 50px;
padding-right: 10px;
}

li.navbar-1,  {
text-decoration: underline;
font-size: 200px;
/* padding-top: 40px; */
padding-left: 50px;
padding-right: 10px;
}

ul.right {
padding-top: 39.5px;
}


@media screen and (min-width: 1440px) {

.container {
  /* padding-left: 110px;
  padding-right: 110px; */
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 50px; */

}

.container-full {
  margin-top: 32px;
  width: 100%;
}

h1 {
    font-size: 64px;

  }


.navbar a:hover {
  text-decoration: none;

}

}
