/* text styles */

.case-study h3 {
  font-family: var(--utility);
  color: var(--accent-color);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 0px;
}

.case-study {
  margin-top: 24px;
  margin-bottom: 24px;
}

.case-section {
  margin-top: 24px;
}

.image {
  width: 100%;
  padding-bottom: 32px;
  padding-top: 32px;
}

img.main {
  width: 100%;
}
/* Media Queries */
@media screen and (min-width: 768px) {

  .case-study h3 {
    font-size: 24px;
    line-height: 130%;
  }

  .case-study {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .case-section {
    margin-top: 32px;
  }

@media screen and (min-width: 1025px) {

  .case-study h3 {
    font-size: 32px;
    line-height: 130%;
  }

  .case-section {
    margin-top: 40px;
  }

@media screen and (min-width: 1440px) {
