/* text styles */

.case-study h3 {
  font-family: var(--utility);
  color: var(--text-secondary);
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 0px;

}


.small {
  width: 70%;
}

/* .case-study {
  margin-top: 24px;
  margin-bottom: 24px;
} */

.case-section {
  margin-top: 24px;
}

.link {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
  margin-bottom: 10px;
}

a.link {
  color: var(--accent-color)
}

img.main {
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
}
/* Media Queries */
@media screen and (min-width: 768px) {

  .case-study h3 {
    font-size: 32px;
    line-height: 130%;
  }

  .case-section {
    margin-top: 24px;
  }

@media screen and (min-width: 1025px) {


@media screen and (min-width: 1440px) {
