/* text styles */

.case-study h3 {
  font-family: var(--utility);
  color: var(--text-secondary);
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 0px;

}

ul.template {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 4px;
}

li.template {
  font-size: 18px;
  line-height: 130%;
  font-weight: 300;
}


.small {
  width: 70%;
}

/* .case-study {
  margin-top: 24px;
  margin-bottom: 24px;
} */

.case-section {
  margin-top: 24px;
}

.link {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
  margin-bottom: 10px;
}

a.link {
  color: var(--accent-color)
}

img.desktop {
  display: none;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
}

img.mobile {
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
}

img.full {
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
}


/* Media Queries */
@media screen and (min-width: 768px) {

  .case-study h3 {
    font-size: 32px;
    line-height: 130%;
  }

  .case-section {
    margin-top: 24px;
  }

@media screen and (min-width: 1025px) {

  ul.template {
      margin-bottom: 10px;

  }

  img.desktop {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  img.mobile {
    display: none;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
  }

@media screen and (min-width: 1440px) {
