/*text*/




.socialmedia {
  font-size: 25px;
  padding-top: 10px;
  margin: 0;
  text-align: center;

}

.fa-envelope-square, .fa-facebook-square, .fa-github-square, .fa-linkedin {
  padding-right: 25px;
}

/*grid sizes*/

.case_right {
  grid-column: 1/13;
}

.case_left, .case_top {
  grid-column: 1/13;
  margin-bottom: 50px;

}

img.bee_1, img.signafire {
  width: 100%;
  grid-column: 1/13;
  margin-bottom: 50px;
  /* margin-top: 50px; */

}

img.feed {
  width: 100%;
  grid-column: 1/7;
  margin-bottom: 20px;
  /* margin-top: 50px; */
}

img.profile {
  width: 100%;
  grid-column: 7/13;
  margin-bottom: 20px;
  /* margin-top: 50px; */
}


/* Media Queries */
@media screen and (min-width: 1025px) {
  /*grid sizes*/


.case_top {
  grid-column: 7/13;
  margin-bottom: 50px;
}

  .case_left {
    grid-column: 7/13;
    margin-top: 50px;
  }

  img.bee_1  {
    width: 100%;
    grid-column: 1/7;
    margin-bottom: 50px;
    /* margin-top: 50px; */

  }

img.signafire {
  margin-top: 0px;
  width: 100%;
  grid-column: 1/7;
  margin-bottom: 50px;
  /* margin-top: 50px; */
}

  img.feed {
    width: 100%;
    grid-column: 1/4;
    margin-bottom: 20px;
    /* margin-top: 50px; */
  }

  img.profile {
    width: 100%;
    grid-column: 4/7;
    margin-bottom: 20px;
    /* margin-top: 50px; */
  }
}
